<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julian.lbniwkalkulator">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/lbniw_ai"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lbniw_ai"
        android:supportsRtl="true"
        android:theme="@style/Theme.LBNIWKalkulator">

        <activity
            android:name=".pages.StartViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.IsotopeMenuViewActivity" />
        <activity android:name=".pages.XRayMenuViewActivity" />
        <activity android:name=".pages.CalculatedTimeViewActivity"/>

    </application>

</manifest>
